@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {@apply text-base font-sans;}
}

@media screen and (max-width:1440px){ 
  @layer base {
    html, body {@apply text-[15px];}
  }
}



@layer components {
  /** 기본 테이블 스타일 **/
  table {@apply w-full table-fixed border-t-2 border-gray-800 border-collapse bg-white;}
  table thead {@apply border-t-2 border-t-gray-800 border-b border-b-slate-400;}
  table th, table td {@apply p-2 text-center;}
  table th {@apply text-gray-800;}
  table td {@apply border-l border-b border-gray-200 text-gray-600;}
  table tr td:first-child {@apply border-l-0;}
  table tr:nth-child(odd) td {@apply bg-gray-50;}
  table tr.active td {@apply bg-lime-200;}
  table tr:not(.active):hover td {@apply bg-lime-50;}
}


body {min-width:1400px;}

/* 데이지 유아이 커스텀 */
.join .join-item.btn { border-color: #F3F4F6;background-color: #F3F4F6; font-weight: normal;}
.join .join-item.btn:not(.btn-active):hover { border-color:#e9ecef;background-color: #e9ecef;}
.join .join-item.btn-active { border-color: #D1D5DB;background-color: #D1D5DB; font-weight:600;} 

.input { border:1px solid hsl(0, 0%, 80%); height:38px; background-color: #fff; border-radius: 5px;}
::placeholder {color:#747474 !important}

.modal { overflow-y: scroll ;min-height: 100vh;}
.modal-box {margin:50px 0; overflow-y: visible; max-height: 100% !important;}
:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {scrollbar-gutter: unset;}

/* 툴팁  */
.custom-tooltip { z-index: 9999; max-width: 300px; visibility: visible !important; white-space: normal; word-break: keep-all; pointer-events: auto; user-select: text;}

/* 데이터픽커 */
.react-datepicker-wrapper {width:100%;}
.react-datepicker__header__dropdown { display: flex; gap:10px; align-items: center; justify-content: center;padding:6px 16px 0;}
.react-datepicker__header__dropdown > div {flex:1; margin:0 !important;}
.react-datepicker__header__dropdown select {width:100%; height:28px;}